langchain 
langchain-community 
langchain-core 
langchain-huggingface  
langchain-text-splitters 
langchain_chroma 
langchain_text_splitters
streamlit
chromadb
datasets
sentence_transformers
huggingface_hub
ipykernel
langchain_chroma
pandas
mysql-connector-python
SQLAlchemy
duckdb
bs4
duckduckgo_search==5.3.1b1
sqlite3== 3.35.0
